{% extends "bingo/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}

{% block content %}
<section
    style="background: url({% static "bingo/images/back.jpg" %}); background-size: cover; background-position: center center"
    class="hero">
    <div class="container-fluid">
        <a href="{% url 'bingo:reset' %}" class="btn btn-danger mb-2">Reset Game</a>
        <div class="row">
            <div class="col-md-4">
                <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-title my-2">Search Ticket</h5>
                        <form class="my-5" id="search-form">
                            <div class="form-group">
                                <label for="users">Search:</label>
                                <input type="text" name="users" id="users" class="form-control"
                                    placeholder="Enter Username">
                            </div>
                        </form>
                        <hr>
                        {% if ticket %}
                        <h5 class="text-center card-title my-3">Ticket for {{username}}</h5>
                        <table class="container">
                            {% for row in ticket %}
                            <tr>
                                {% for num in row %}
                                <td class="text-center player {% if num|present:username %}crossed{% endif %}">
                                    {% if num == 0 or num == '0' %}
                                    {{ ' ' }}
                                    {% else %}
                                    {{ num }}
                                    {% endif %}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="card rand-card">
                    <div class="card-body">
                        <h5 class="text-center card-title my-2">Random Number Generator</h5>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="number my-3">
                                <input type="text" id="random" class="form-control" disabled></input>
                                <div id="random_btn" class="btn btn-primary">Next Number</div>
                            </div>
                        </form>

                        <hr>
                        <table class="container" id="random-table">
                            {% for row in numgen %}
                            <tr>
                                {% for num in row %}
                                <td class="text-center {% if num|present %}crossed{% endif %}" id="{{num}}">
                                    {{ num }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script>
    $(function () {
        $("#users").autocomplete({
            source: "{% url 'bingo:user_json_data' %}"
        });
    });
</script>
{% endblock scripts %}